<phpunit colors="true" stopOnError="true" verbose="true">
    <testsuites>
        <testsuite name="product">
            <file>test/ProductServiceMockTest.php</file>
            <file>test/ProductServiceTest.php</file>
        </testsuite>
        <testsuite name="counter">
            <file>test/CounterStaticTest.php</file>
            <file>test/CounterTest.php</file>
        </testsuite>
        <testsuite name="all">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>